<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>women's wear</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <header class='header'>
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776
                </button>
               <a href="index.html">Tunida</a>
            </div>
            <div class="header-links">
                <a href="signin.html">Sign in</a>
                <a href="cart.html">Cart</a>
            </div>
        </header >
        <aside class="sidebar" id="sidebar">
                 <ul  class="sidebar-content">
                     <li><a href="#">dresses</a></li>
                     <li><a href="#">jeans</a></li>
                     <li><a href="#">shorts & skirts</a></li>
                     <li><a href="#">jackets & coats</a></li>
                     <li><a href="#">footwear</a></li>
                     <li><a href="#">sports</a></li>
                     <li><a href="#">lingery & sleepwear</a></li>
                 </ul>
           
        </aside>
        <main class="main">
           <div class="content">
            <ul class="products">
                <li>
                    <div class="product">
                        <img src="./images/d1.jpg" alt="shirt" class='product-image'>
                        <div class='product-name'> une belle villa a tabarka </div>
                        <div class="product-price">500k tnd</div>
                        <div class='product-rating'>5 starts(10 reviews)</div>
                    </div>
                </li>
            </ul>
           </div>
        </main>
        <footer class="footer">
            all rights reserved
        </footer>
    </div>
    <script>
        function openMenu(){
            document.getElementById('sidebar').classList.toggle('open');
        }
    </script>
</body>
</html> -->